services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: unless-stopped
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollamax:11434
    volumes:
      - open-webui_data:/app/backend/data
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - ai-stack

volumes:
  open-webui_data:

networks:
  ai-stack:
    external: true
